$alice-blue: rgba(232, 241, 242, 1);
$aero-blue: rgba(209, 255, 215, 1);
$mint-green: rgba(179, 255, 179, 1);
$granny-smith-apple: rgba(179, 239, 178, 1);
$celadon: rgba(166, 211, 160, 1);
$russian-green: rgba(122, 158, 126, 1);
$kombu-green: rgba(49, 73, 60, 1);
$battleship-grey: rgba(128, 135, 130, 1);
$granite-gray: rgba(101, 101, 101, 1);
$rich-black: rgba(0, 26, 35, 1);

$header-bg: rgb(41, 81, 37);
$subheader: rgb(168, 210, 164);
$link: rgb(23, 55, 20);
$block-bg: rgb(108, 181, 99);
$author-bg: rgb(63, 120, 55);
$sidebar-bg: rgb(167, 211, 160);
$require-link: rgb(215, 249, 212);