//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lora&family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');

$font-lato: 'Lato',sans-serif;
$font-lora: 'Lora',serif;
$font-roboto: 'Roboto',sans-serif;
$font-slab: 'Roboto Slab',serif;