//Initial branch commit
@use "fonts" as *;
@use "colors" as *;
@use "heading";

$breakpoint-large: 500px;

@mixin screen-size($size) {
  @if ($size ==large) {
    @media (min-width: $breakpoint-large) {
      @content;
    }
  }
}

h1 {
  font-family: $font-lato;
}

h2,
body {
  font-family: $font-lora;
}

h3 {
  font-family: $font-roboto;
  font-weight: bold;
  font-size: 1.6em;
}

p {
  font-family: $font-slab;
  font-weight: 500;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $link;
}


body {
  background-image: url('https://tinyurl.com/mxntn7rp');
  background-size: cover;
  background-repeat: no-repeat;
}

div.page-wrapper {
  max-width: 1500px;
  margin: 0 auto;

  @include screen-size(large) {
    display: grid;
    grid-template-columns: minmax(150px, 250px) minmax(350px, 1fr);
  }
}

section.intro#zen-intro {
  @include screen-size(large) {
    grid-column: 2;
    // display: grid;
    // grid-template-columns: minmax(150px, 250px) minmax(350px, 1fr);
  }

  header {
    text-align: center;
    background: $header-bg;
    padding: 2rem 0;
    margin-bottom: 1.5rem;

    h1 {
      font-size: 3em;
      color: #fff;
    }

    h2 {
      color: $subheader;
    }
  }

  div.summary#zen-summary {
    text-align: center;
    margin: 1rem 0;

    a {
      color: rgb(5, 57, 2);
    }
  }

  div.preamble#zen-preamble {
    background: linear-gradient($block-bg1 66%, $block-bg2);
  }
}

div.main.supporting#zen-supporting {
  @include screen-size(large) {
    grid-column: 2;
  }

  div.explanation#zen-explanation {
    background: linear-gradient($block-bg2 33%, $block-bg3);
  }
}

div.preamble#zen-preamble,
div.participation#zen-participation {
  margin: 1rem .6rem 0;
  border-radius: 1.5rem 1.5rem 0 0;
  border-bottom: 2px dashed $rich-black;

  @include screen-size(large) {
    margin: 1rem 2rem 0;
  }
}


div.preamble#zen-preamble,
div.explanation#zen-explanation,
div.participation#zen-participation,
div.benefits#zen-benefits {
  // background: $block-bg;
  padding: .8rem;

  p {
    margin: 1.2rem 0 0;
  }
}

div.explanation#zen-explanation,
div.benefits#zen-benefits {
  margin: 0 .6rem 1rem;
  border-radius: 0 0 1.5rem 1.5rem;

  @include screen-size(large) {
    margin: 0 2rem 1rem;
  }
}

div.participation#zen-participation,
div.benefits#zen-benefits {
  background-color: #fff;
}

div.requirements#zen-requirements {

  h3,
  p {
    margin: 0 .6rem;

    background: linear-gradient($block-bg1, $block-bg2, $block-bg3);
    padding: 0 .8rem .8rem .8rem;

    @include screen-size(large) {
      margin: 0 2rem;
    }
  }

  h3 {
    border-radius: 1.5rem 1.5rem 0 0;
    padding-top: .8rem;
  }

  h3,
  p:nth-child(2) {
    background: $block-bg1;
  }

  p:nth-child(3) {
    background: linear-gradient($block-bg1 10%, $block-bg2);
  }

  p:nth-child(4) {
    background: linear-gradient($block-bg2, $block-bg3);
  }

  p:nth-child(5) {
    background: $block-bg3;
    border-radius: 0 0 1.5rem 1.5rem;
    margin-bottom: 1rem;
  }

  p:last-child {
    background: $author-bg;
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 1rem 0 0 0;
    font-size: 1.2em;

    a {
      color: $require-link;
    }
  }

}

footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  text-align: center;
  background: $link;

  a {
    padding: .9rem 0;
    text-shadow: none;
    border-right: 2px solid $author-bg;
    color: white;

    &:hover {
      background: $header-bg;
    }
  }

  a:last-child {
    border: none;
  }
}

aside.sidebar {
  background: $sidebar-bg;
  background-image: url("data:image/svg+xml,%3Csvg width='196' height='679' viewBox='0 0 196 679' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M134.882 1.53336C132.882 0.333327 127.882 1.53334 126.382 1.53335C131 17.0333 130 28.4654 132 29.6654C134 30.8654 137.167 30.1654 138.5 29.6654C136.382 12.5028 135.382 1.83337 134.882 1.53336Z' fill='%2350D10F'/%3E%3Cpath d='M138.5 35.6654C137.3 34.8654 132.833 35.3321 131 35.6654C132.5 79.1654 130.2 95.9654 131 97.1654C131.8 98.3654 136.833 98.6654 139 98.6654C137.5 59.6654 140 36.6654 138.5 35.6654Z' fill='%2350D10F'/%3E%3Cpath d='M138.5 104.165C137 103.165 132.667 103.665 131.5 104.165V138.165L126.14 126.165C128 118.165 123.5 109.665 112 93.6654C114.5 114.165 120.5 126.165 124.5 126.665L131.5 142.665C132 158.665 130.5 160.565 131.5 161.165C133.5 162.365 137.167 161.499 138.5 161.165C137.5 122.665 140 105.165 138.5 104.165Z' fill='%2350D10F'/%3E%3Cpath d='M138.5 167.165C136.9 165.965 132.667 167.165 131 167.665C132 212.165 130.5 225.565 131.5 226.165C133.5 227.365 137 227.665 138.5 227.665C139 199.665 139.5 167.915 138.5 167.165Z' fill='%2350D10F'/%3E%3Cpath d='M139 234.165C137 232.965 133 232.832 131.5 232.665C131 273.165 130.25 291.165 131.5 292.165C133.5 293.765 137 293.665 138.5 293.165C137 253.165 140.5 235.065 139 234.165Z' fill='%2350D10F'/%3E%3Cpath d='M138.5 299.665C136.711 298.771 133.333 298.332 131.5 298.665C132 322.665 130 335.915 131.5 336.665C133.5 337.665 137 337.165 138.5 337.165L138.537 335.758C139.024 317.286 139.475 300.153 138.5 299.665Z' fill='%2350D10F'/%3E%3Cpath d='M134.882 1.53336C132.882 0.333327 127.882 1.53334 126.382 1.53335C131 17.0333 130 28.4654 132 29.6654C134 30.8654 137.167 30.1654 138.5 29.6654C136.382 12.5028 135.382 1.83337 134.882 1.53336Z' stroke='%23153804'/%3E%3Cpath d='M138.5 35.6654C137.3 34.8654 132.833 35.3321 131 35.6654C132.5 79.1654 130.2 95.9654 131 97.1654C131.8 98.3654 136.833 98.6654 139 98.6654C137.5 59.6654 140 36.6654 138.5 35.6654Z' stroke='%23153804'/%3E%3Cpath d='M138.5 104.165C137 103.165 132.667 103.665 131.5 104.165V138.165L126.14 126.165C128 118.165 123.5 109.665 112 93.6654C114.5 114.165 120.5 126.165 124.5 126.665L131.5 142.665C132 158.665 130.5 160.565 131.5 161.165C133.5 162.365 137.167 161.499 138.5 161.165C137.5 122.665 140 105.165 138.5 104.165Z' stroke='%23153804'/%3E%3Cpath d='M138.5 167.165C136.9 165.965 132.667 167.165 131 167.665C132 212.165 130.5 225.565 131.5 226.165C133.5 227.365 137 227.665 138.5 227.665C139 199.665 139.5 167.915 138.5 167.165Z' stroke='%23153804'/%3E%3Cpath d='M139 234.165C137 232.965 133 232.832 131.5 232.665C131 273.165 130.25 291.165 131.5 292.165C133.5 293.765 137 293.665 138.5 293.165C137 253.165 140.5 235.065 139 234.165Z' stroke='%23153804'/%3E%3Cpath d='M138.5 299.665C136.711 298.771 133.333 298.332 131.5 298.665C132 322.665 130 335.915 131.5 336.665C133.5 337.665 137 337.165 138.5 337.165L138.537 335.758C139.024 317.286 139.475 300.153 138.5 299.665Z' stroke='%23153804'/%3E%3Cpath d='M112.882 3.66541C110.882 2.46542 107.216 2.50285 105.882 3.00285C105.882 12.5029 97.3 29.3654 98.5 30.1654C99.7 30.9654 103.333 30.4988 105 30.1654C105.882 20.5028 113.882 4.26541 112.882 3.66541Z' fill='%2350D10F'/%3E%3Cpath d='M103.5 35.6654C101.1 34.8654 99 35.2434 97.5 35.6654C96.5 35.9468 98 48.6654 100 67.1654C102 47.6654 104 35.8321 103.5 35.6654Z' fill='%2350D10F'/%3E%3Cpath d='M91 160.665C93.2101 158.897 90.5 135.665 88 122.665C87 130.665 83 158.165 83.5 160.665C84.5 161.665 89.75 161.665 91 160.665Z' fill='%2350D10F'/%3E%3Cpath d='M90 167.165C88 165.965 84.5 166.665 83 167.165C82 210.665 79.3909 224.709 80 225.165C81.6 226.365 85.3333 226.665 87 226.665C88.5 188.665 90.5 167.465 90 167.165Z' fill='%2350D10F'/%3E%3Cpath d='M87 232.665C85.8 231.065 81.8333 231.332 80 231.665C80 267.665 78.8 290.065 80 291.665C81.2 293.265 85.1667 292.999 87 292.665C86.5 255.665 88.2 234.265 87 232.665Z' fill='%2350D10F'/%3E%3Cpath d='M87 298.165C85.8 297.365 81.8333 297.832 80 298.165C81.5 315.665 80.4 336.365 82 337.165C83.6 337.965 87 337.499 88.5 337.165C87 312.665 88.2 298.965 87 298.165Z' fill='%2350D10F'/%3E%3Cpath d='M112.882 3.66541C110.882 2.46542 107.216 2.50285 105.882 3.00285C105.882 12.5029 97.3 29.3654 98.5 30.1654C99.7 30.9654 103.333 30.4988 105 30.1654C105.882 20.5028 113.882 4.26541 112.882 3.66541Z' stroke='%23153804'/%3E%3Cpath d='M103.5 35.6654C101.1 34.8654 99 35.2434 97.5 35.6654C96.5 35.9468 98 48.6654 100 67.1654C102 47.6654 104 35.8321 103.5 35.6654Z' stroke='%23153804'/%3E%3Cpath d='M91 160.665C93.2101 158.897 90.5 135.665 88 122.665C87 130.665 83 158.165 83.5 160.665C84.5 161.665 89.75 161.665 91 160.665Z' stroke='%23153804'/%3E%3Cpath d='M90 167.165C88 165.965 84.5 166.665 83 167.165C82 210.665 79.3909 224.709 80 225.165C81.6 226.365 85.3333 226.665 87 226.665C88.5 188.665 90.5 167.465 90 167.165Z' stroke='%23153804'/%3E%3Cpath d='M87 232.665C85.8 231.065 81.8333 231.332 80 231.665C80 267.665 78.8 290.065 80 291.665C81.2 293.265 85.1667 292.999 87 292.665C86.5 255.665 88.2 234.265 87 232.665Z' stroke='%23153804'/%3E%3Cpath d='M87 298.165C85.8 297.365 81.8333 297.832 80 298.165C81.5 315.665 80.4 336.365 82 337.165C83.6 337.965 87 337.499 88.5 337.165C87 312.665 88.2 298.965 87 298.165Z' stroke='%23153804'/%3E%3Cpath d='M93.5 3.00284C89.5 1.80284 83.5491 3.16543 80.8825 4.16543C81.8825 10.6654 77.6 27.0654 80 28.6654C82.4 30.2654 89 29.3321 92 28.6654C92 20.6654 95.5 3.60284 93.5 3.00284Z' fill='%2350D10F'/%3E%3Cpath d='M93.5 34.6654C90.7 34.2654 83.3333 34.4988 80 34.6654C86 72.6654 90 121.704 91.5 122.165C96.7 123.765 103 122.165 105.5 121.165C99.5 87.6654 95 34.8797 93.5 34.6654Z' fill='%2350D10F'/%3E%3Cpath d='M106.5 127.665C104.1 127.265 96.1667 127.832 92.5 128.165C103 174.665 104 217.11 105 217.665C108.6 219.665 115.5 219.165 118.5 218.665C112 175.165 108.9 128.065 106.5 127.665Z' fill='%2350D10F'/%3E%3Cpath d='M118.5 224.665C115.3 223.865 108.833 224.332 106 224.665C112.5 287.165 104.1 297.665 106.5 299.665C108.9 301.665 116.333 304.499 119.5 305.665C120.667 278.999 121.7 225.465 118.5 224.665Z' fill='%2350D10F'/%3E%3Cpath d='M119 312.665C119 312.665 109.667 306.832 106.5 306.165C106.5 319.665 99 334.665 102 335.165C108.891 336.314 113 337.665 114.5 337.165C117 328.665 119 312.665 119 312.665Z' fill='%2350D10F'/%3E%3Cpath d='M93.5 3.00284C89.5 1.80284 83.5491 3.16543 80.8825 4.16543C81.8825 10.6654 77.6 27.0654 80 28.6654C82.4 30.2654 89 29.3321 92 28.6654C92 20.6654 95.5 3.60284 93.5 3.00284Z' stroke='%23153804'/%3E%3Cpath d='M93.5 34.6654C90.7 34.2654 83.3333 34.4988 80 34.6654C86 72.6654 90 121.704 91.5 122.165C96.7 123.765 103 122.165 105.5 121.165C99.5 87.6654 95 34.8797 93.5 34.6654Z' stroke='%23153804'/%3E%3Cpath d='M106.5 127.665C104.1 127.265 96.1667 127.832 92.5 128.165C103 174.665 104 217.11 105 217.665C108.6 219.665 115.5 219.165 118.5 218.665C112 175.165 108.9 128.065 106.5 127.665Z' stroke='%23153804'/%3E%3Cpath d='M118.5 224.665C115.3 223.865 108.833 224.332 106 224.665C112.5 287.165 104.1 297.665 106.5 299.665C108.9 301.665 116.333 304.499 119.5 305.665C120.667 278.999 121.7 225.465 118.5 224.665Z' stroke='%23153804'/%3E%3Cpath d='M119 312.665C119 312.665 109.667 306.832 106.5 306.165C106.5 319.665 99 334.665 102 335.165C108.891 336.314 113 337.665 114.5 337.165C117 328.665 119 312.665 119 312.665Z' stroke='%23153804'/%3E%3Cpath d='M60.4189 81.6654L46 56.6654C47.6667 52.9988 45.4 40.1654 23 18.1654C28.2 44.1654 39.1667 55.3321 44 57.6655L51.5 71.6654L47.5 69.6654C44.3333 63.9988 32.9 50.7654 12.5 43.1654C31.3 68.3654 43.6667 72.6654 47.5 71.6654L53 74.1654L60.2873 86.1654C60.3301 84.6472 60.3741 83.1449 60.4189 81.6654Z' fill='%2350D10F'/%3E%3Cpath d='M61 59.1654C63.8333 59.1654 69.7 58.8655 70.5 57.6655C71.3 56.4655 65.2158 20.3362 64.8825 3.00285C62.7158 2.33619 60.7825 2.56548 58.3825 4.16546C56.7121 5.279 60 41.4988 61 59.1654Z' fill='%2350D10F'/%3E%3Cpath d='M69.5 63.1654C67.1 63.1654 62.8333 63.6654 61 64.1654C60.8111 69.0759 60.608 75.4172 60.4189 81.6654C60.3741 83.1449 60.3301 84.6472 60.2873 86.1654C60.4189 112.165 59.1606 142.859 61 143.165C63.4 143.565 68.3333 141.665 70.5 140.665C71.1667 114.832 71.9 63.1654 69.5 63.1654Z' fill='%2350D10F'/%3E%3Cpath d='M61 150.165C63.1667 148.832 68.1 146.365 70.5 147.165C72.9 147.965 71.5 197.499 70.5 222.165C67.8333 222.999 62.2 224.165 61 222.165C59.8 220.165 60.5 173.332 61 150.165Z' fill='%2350D10F'/%3E%3Cpath d='M60.522 285.165L52.5 271.165V261.165C56.6667 256.499 61.2 238.165 46 202.165C43.9157 219.332 41.7977 255.165 50 261.165V267.165L39.5 248.665C40.8333 241.332 37.4 220.165 13 194.165C14.5 205.499 21.3 232.265 36.5 248.665L52.5 279.165L46 275.665C47.6667 272.499 41.2 260.765 2 239.165C23.2 275.165 40.1667 280.832 46 279.165L60.522 289.165V285.165Z' fill='%2350D10F'/%3E%3Cpath d='M70.5 229.165C68 228.665 62.6 227.965 61 229.165C59.7762 230.083 60.0345 259.923 60.522 285.165C60.6718 292.924 60.8433 300.249 61 306.165C63.3333 306.832 68.5 307.765 70.5 306.165C72.5 304.565 71.3333 254.165 70.5 229.165Z' fill='%2350D10F'/%3E%3Cpath d='M61 312.165C63.1667 311.499 68.1 310.565 70.5 312.165C72.9 313.765 71.5 329.499 70.5 337.165C68.3333 337.832 63.4 338.765 61 337.165C58.6 335.565 60 319.832 61 312.165Z' fill='%2350D10F'/%3E%3Cpath d='M60.522 285.165C60.0345 259.923 59.7762 230.083 61 229.165C62.6 227.965 68 228.665 70.5 229.165C71.3333 254.165 72.5 304.565 70.5 306.165C68.5 307.765 63.3333 306.832 61 306.165C60.8433 300.249 60.6718 292.924 60.522 285.165ZM60.522 285.165L52.5 271.165V261.165C56.6667 256.499 61.2 238.165 46 202.165C43.9157 219.332 41.7977 255.165 50 261.165V267.165L39.5 248.665C40.8333 241.332 37.4 220.165 13 194.165C14.5 205.499 21.3 232.265 36.5 248.665L52.5 279.165L46 275.665C47.6667 272.499 41.2 260.765 2 239.165C23.2 275.165 40.1667 280.832 46 279.165L60.522 289.165V285.165ZM60.4189 81.6654C60.608 75.4172 60.8111 69.0759 61 64.1654C62.8333 63.6654 67.1 63.1654 69.5 63.1654C71.9 63.1654 71.1667 114.832 70.5 140.665C68.3333 141.665 63.4 143.565 61 143.165C59.1606 142.859 60.4189 112.165 60.2873 86.1654M60.4189 81.6654L46 56.6654C47.6667 52.9988 45.4 40.1654 23 18.1654C28.2 44.1654 39.1667 55.3321 44 57.6655L51.5 71.6654L47.5 69.6654C44.3333 63.9988 32.9 50.7654 12.5 43.1654C31.3 68.3654 43.6667 72.6654 47.5 71.6654L53 74.1654L60.2873 86.1654M60.4189 81.6654C60.3741 83.1449 60.3301 84.6472 60.2873 86.1654M61 59.1654C63.8333 59.1654 69.7 58.8655 70.5 57.6655C71.3 56.4655 65.2158 20.3362 64.8825 3.00285C62.7158 2.33619 60.7825 2.56548 58.3825 4.16546C56.7121 5.279 60 41.4988 61 59.1654ZM61 150.165C63.1667 148.832 68.1 146.365 70.5 147.165C72.9 147.965 71.5 197.499 70.5 222.165C67.8333 222.999 62.2 224.165 61 222.165C59.8 220.165 60.5 173.332 61 150.165ZM61 312.165C63.1667 311.499 68.1 310.565 70.5 312.165C72.9 313.765 71.5 329.499 70.5 337.165C68.3333 337.832 63.4 338.765 61 337.165C58.6 335.565 60 319.832 61 312.165Z' stroke='%23153804'/%3E%3Cpath d='M61.5 341.533C63.5 340.333 68.5 341.533 70 341.533C65.3825 357.033 66.3825 368.465 64.3825 369.665C62.3825 370.865 59.2158 370.165 57.8825 369.665C60 352.503 61 341.833 61.5 341.533Z' fill='%2350D10F'/%3E%3Cpath d='M57.8825 375.665C59.0825 374.865 63.5491 375.332 65.3825 375.665C63.8825 419.165 66.1825 435.965 65.3825 437.165C64.5825 438.365 59.5491 438.665 57.3825 438.665C58.8825 399.665 56.3825 376.665 57.8825 375.665Z' fill='%2350D10F'/%3E%3Cpath d='M57.8825 444.165C59.3825 443.165 63.7158 443.665 64.8825 444.165V478.165L70.2424 466.165C68.3825 458.165 72.8825 449.665 84.3825 433.665C81.8825 454.165 75.8825 466.165 71.8825 466.665L64.8825 482.665C64.3825 498.665 65.8825 500.565 64.8825 501.165C62.8825 502.365 59.2158 501.499 57.8825 501.165C58.8825 462.665 56.3825 445.165 57.8825 444.165Z' fill='%2350D10F'/%3E%3Cpath d='M57.8825 507.165C59.4825 505.965 63.7158 507.165 65.3825 507.665C64.3824 552.165 65.8825 565.565 64.8825 566.165C62.8825 567.365 59.3825 567.665 57.8825 567.665C57.3825 539.665 56.8825 507.915 57.8825 507.165Z' fill='%2350D10F'/%3E%3Cpath d='M57.3825 574.165C59.3825 572.965 63.3825 572.832 64.8825 572.665C65.3825 613.165 66.1325 631.165 64.8825 632.165C62.8825 633.765 59.3825 633.665 57.8825 633.165C59.3825 593.165 55.8824 575.065 57.3825 574.165Z' fill='%2350D10F'/%3E%3Cpath d='M57.8825 639.665C59.6713 638.771 63.0491 638.332 64.8825 638.665C64.3825 662.665 66.3825 675.915 64.8825 676.665C62.8825 677.665 59.3825 677.165 57.8825 677.165L57.8454 675.758C57.3587 657.286 56.9072 640.153 57.8825 639.665Z' fill='%2350D10F'/%3E%3Cpath d='M61.5 341.533C63.5 340.333 68.5 341.533 70 341.533C65.3825 357.033 66.3825 368.465 64.3825 369.665C62.3825 370.865 59.2158 370.165 57.8825 369.665C60 352.503 61 341.833 61.5 341.533Z' stroke='%23153804'/%3E%3Cpath d='M57.8825 375.665C59.0825 374.865 63.5491 375.332 65.3825 375.665C63.8825 419.165 66.1825 435.965 65.3825 437.165C64.5825 438.365 59.5491 438.665 57.3825 438.665C58.8825 399.665 56.3825 376.665 57.8825 375.665Z' stroke='%23153804'/%3E%3Cpath d='M57.8825 444.165C59.3825 443.165 63.7158 443.665 64.8825 444.165V478.165L70.2424 466.165C68.3825 458.165 72.8825 449.665 84.3825 433.665C81.8825 454.165 75.8825 466.165 71.8825 466.665L64.8825 482.665C64.3825 498.665 65.8825 500.565 64.8825 501.165C62.8825 502.365 59.2158 501.499 57.8825 501.165C58.8825 462.665 56.3825 445.165 57.8825 444.165Z' stroke='%23153804'/%3E%3Cpath d='M57.8825 507.165C59.4825 505.965 63.7158 507.165 65.3825 507.665C64.3824 552.165 65.8825 565.565 64.8825 566.165C62.8825 567.365 59.3825 567.665 57.8825 567.665C57.3825 539.665 56.8825 507.915 57.8825 507.165Z' stroke='%23153804'/%3E%3Cpath d='M57.3825 574.165C59.3825 572.965 63.3825 572.832 64.8825 572.665C65.3825 613.165 66.1325 631.165 64.8825 632.165C62.8825 633.765 59.3825 633.665 57.8825 633.165C59.3825 593.165 55.8824 575.065 57.3825 574.165Z' stroke='%23153804'/%3E%3Cpath d='M57.8825 639.665C59.6713 638.771 63.0491 638.332 64.8825 638.665C64.3825 662.665 66.3825 675.915 64.8825 676.665C62.8825 677.665 59.3825 677.165 57.8825 677.165L57.8454 675.758C57.3587 657.286 56.9072 640.153 57.8825 639.665Z' stroke='%23153804'/%3E%3Cpath d='M83.5 343.665C85.5 342.465 89.1667 342.503 90.5 343.003C90.5 352.503 99.0825 369.365 97.8825 370.165C96.6825 370.965 93.0491 370.499 91.3825 370.165C90.5 360.503 82.5 344.265 83.5 343.665Z' fill='%2350D10F'/%3E%3Cpath d='M92.8825 375.665C95.2825 374.865 97.3825 375.243 98.8825 375.665C99.8825 375.947 98.3825 388.665 96.3825 407.165C94.3825 387.665 92.3825 375.832 92.8825 375.665Z' fill='%2350D10F'/%3E%3Cpath d='M105.382 500.665C103.172 498.897 105.882 475.665 108.382 462.665C109.382 470.665 113.382 498.165 112.882 500.665C111.882 501.665 106.632 501.665 105.382 500.665Z' fill='%2350D10F'/%3E%3Cpath d='M106.382 507.165C108.382 505.965 111.882 506.665 113.382 507.165C114.382 550.665 116.992 564.709 116.382 565.165C114.782 566.365 111.049 566.665 109.382 566.665C107.882 528.665 105.882 507.465 106.382 507.165Z' fill='%2350D10F'/%3E%3Cpath d='M109.382 572.665C110.582 571.065 114.549 571.332 116.382 571.665C116.382 607.665 117.582 630.065 116.382 631.665C115.182 633.265 111.216 632.999 109.382 632.665C109.882 595.665 108.182 574.265 109.382 572.665Z' fill='%2350D10F'/%3E%3Cpath d='M109.382 638.165C110.582 637.365 114.549 637.832 116.382 638.165C114.882 655.665 115.982 676.365 114.382 677.165C112.782 677.965 109.382 677.499 107.882 677.165C109.382 652.665 108.182 638.965 109.382 638.165Z' fill='%2350D10F'/%3E%3Cpath d='M83.5 343.665C85.5 342.465 89.1667 342.503 90.5 343.003C90.5 352.503 99.0825 369.365 97.8825 370.165C96.6825 370.965 93.0491 370.499 91.3825 370.165C90.5 360.503 82.5 344.265 83.5 343.665Z' stroke='%23153804'/%3E%3Cpath d='M92.8825 375.665C95.2825 374.865 97.3825 375.243 98.8825 375.665C99.8825 375.947 98.3825 388.665 96.3825 407.165C94.3825 387.665 92.3825 375.832 92.8825 375.665Z' stroke='%23153804'/%3E%3Cpath d='M105.382 500.665C103.172 498.897 105.882 475.665 108.382 462.665C109.382 470.665 113.382 498.165 112.882 500.665C111.882 501.665 106.632 501.665 105.382 500.665Z' stroke='%23153804'/%3E%3Cpath d='M106.382 507.165C108.382 505.965 111.882 506.665 113.382 507.165C114.382 550.665 116.992 564.709 116.382 565.165C114.782 566.365 111.049 566.665 109.382 566.665C107.882 528.665 105.882 507.465 106.382 507.165Z' stroke='%23153804'/%3E%3Cpath d='M109.382 572.665C110.582 571.065 114.549 571.332 116.382 571.665C116.382 607.665 117.582 630.065 116.382 631.665C115.182 633.265 111.216 632.999 109.382 632.665C109.882 595.665 108.182 574.265 109.382 572.665Z' stroke='%23153804'/%3E%3Cpath d='M109.382 638.165C110.582 637.365 114.549 637.832 116.382 638.165C114.882 655.665 115.982 676.365 114.382 677.165C112.782 677.965 109.382 677.499 107.882 677.165C109.382 652.665 108.182 638.965 109.382 638.165Z' stroke='%23153804'/%3E%3Cpath d='M102.882 343.003C106.882 341.803 112.833 343.165 115.5 344.165C114.5 350.665 118.782 367.065 116.382 368.665C113.982 370.265 107.382 369.332 104.382 368.665C104.382 360.665 100.882 343.603 102.882 343.003Z' fill='%2350D10F'/%3E%3Cpath d='M102.882 374.665C105.682 374.265 113.049 374.499 116.382 374.665C110.382 412.665 106.382 461.704 104.882 462.165C99.6825 463.765 93.3825 462.165 90.8825 461.165C96.8825 427.665 101.382 374.88 102.882 374.665Z' fill='%2350D10F'/%3E%3Cpath d='M89.8825 467.665C92.2825 467.265 100.216 467.832 103.882 468.165C93.3825 514.665 92.3825 557.11 91.3825 557.665C87.7825 559.665 80.8825 559.165 77.8825 558.665C84.3825 515.165 87.4825 468.065 89.8825 467.665Z' fill='%2350D10F'/%3E%3Cpath d='M77.8825 564.665C81.0825 563.865 87.5491 564.332 90.3825 564.665C83.8825 627.165 92.2825 637.665 89.8825 639.665C87.4825 641.665 80.0491 644.499 76.8825 645.665C75.7158 618.999 74.6825 565.465 77.8825 564.665Z' fill='%2350D10F'/%3E%3Cpath d='M77.3825 652.665C77.3825 652.665 86.7158 646.832 89.8825 646.165C89.8825 659.665 97.3825 674.665 94.3825 675.165C87.4918 676.314 83.3825 677.665 81.8825 677.165C79.3825 668.665 77.3825 652.665 77.3825 652.665Z' fill='%2350D10F'/%3E%3Cpath d='M102.882 343.003C106.882 341.803 112.833 343.165 115.5 344.165C114.5 350.665 118.782 367.065 116.382 368.665C113.982 370.265 107.382 369.332 104.382 368.665C104.382 360.665 100.882 343.603 102.882 343.003Z' stroke='%23153804'/%3E%3Cpath d='M102.882 374.665C105.682 374.265 113.049 374.499 116.382 374.665C110.382 412.665 106.382 461.704 104.882 462.165C99.6825 463.765 93.3825 462.165 90.8825 461.165C96.8825 427.665 101.382 374.88 102.882 374.665Z' stroke='%23153804'/%3E%3Cpath d='M89.8825 467.665C92.2825 467.265 100.216 467.832 103.882 468.165C93.3825 514.665 92.3825 557.11 91.3825 557.665C87.7825 559.665 80.8825 559.165 77.8825 558.665C84.3825 515.165 87.4825 468.065 89.8825 467.665Z' stroke='%23153804'/%3E%3Cpath d='M77.8825 564.665C81.0825 563.865 87.5491 564.332 90.3825 564.665C83.8825 627.165 92.2825 637.665 89.8825 639.665C87.4825 641.665 80.0491 644.499 76.8825 645.665C75.7158 618.999 74.6825 565.465 77.8825 564.665Z' stroke='%23153804'/%3E%3Cpath d='M77.3825 652.665C77.3825 652.665 86.7158 646.832 89.8825 646.165C89.8825 659.665 97.3825 674.665 94.3825 675.165C87.4918 676.314 83.3825 677.665 81.8825 677.165C79.3825 668.665 77.3825 652.665 77.3825 652.665Z' stroke='%23153804'/%3E%3Cpath d='M135.964 421.665L150.382 396.665C148.716 392.999 150.982 380.165 173.382 358.165C168.182 384.165 157.216 395.332 152.382 397.665L144.882 411.665L148.882 409.665C152.049 403.999 163.482 390.765 183.882 383.165C165.082 408.365 152.716 412.665 148.882 411.665L143.382 414.165L136.095 426.165C136.052 424.647 136.008 423.145 135.964 421.665Z' fill='%2350D10F'/%3E%3Cpath d='M135.382 399.165C132.549 399.165 126.682 398.865 125.882 397.665C125.082 396.465 131.167 360.336 131.5 343.003C133.667 342.336 135.6 342.565 138 344.165C139.67 345.279 136.382 381.499 135.382 399.165Z' fill='%2350D10F'/%3E%3Cpath d='M126.882 403.165C129.282 403.165 133.549 403.665 135.382 404.165C135.571 409.076 135.774 415.417 135.964 421.665C136.008 423.145 136.052 424.647 136.095 426.165C135.964 452.165 137.222 482.859 135.382 483.165C132.982 483.565 128.049 481.665 125.882 480.665C125.216 454.832 124.482 403.165 126.882 403.165Z' fill='%2350D10F'/%3E%3Cpath d='M135.382 490.165C133.216 488.832 128.282 486.365 125.882 487.165C123.482 487.965 124.882 537.499 125.882 562.165C128.549 562.999 134.182 564.165 135.382 562.165C136.582 560.165 135.882 513.332 135.382 490.165Z' fill='%2350D10F'/%3E%3Cpath d='M135.861 625.165L143.882 611.165V601.165C139.716 596.499 135.182 578.165 150.382 542.165C152.467 559.332 154.585 595.165 146.382 601.165V607.165L156.882 588.665C155.549 581.332 158.982 560.165 183.382 534.165C181.882 545.499 175.082 572.265 159.882 588.665L143.882 619.165L150.382 615.665C148.716 612.499 155.182 600.765 194.382 579.165C173.182 615.165 156.216 620.832 150.382 619.165L135.861 629.165V625.165Z' fill='%2350D10F'/%3E%3Cpath d='M125.882 569.165C128.382 568.665 133.782 567.965 135.382 569.165C136.606 570.083 136.348 599.923 135.861 625.165C135.711 632.924 135.539 640.249 135.382 646.165C133.049 646.832 127.882 647.765 125.882 646.165C123.882 644.565 125.049 594.165 125.882 569.165Z' fill='%2350D10F'/%3E%3Cpath d='M135.382 652.165C133.216 651.499 128.282 650.565 125.882 652.165C123.482 653.765 124.882 669.499 125.882 677.165C128.049 677.832 132.982 678.765 135.382 677.165C137.782 675.565 136.382 659.832 135.382 652.165Z' fill='%2350D10F'/%3E%3Cpath d='M135.861 625.165C136.348 599.923 136.606 570.083 135.382 569.165C133.782 567.965 128.382 568.665 125.882 569.165C125.049 594.165 123.882 644.565 125.882 646.165C127.882 647.765 133.049 646.832 135.382 646.165C135.539 640.249 135.711 632.924 135.861 625.165ZM135.861 625.165L143.882 611.165V601.165C139.716 596.499 135.182 578.165 150.382 542.165C152.467 559.332 154.585 595.165 146.382 601.165V607.165L156.882 588.665C155.549 581.332 158.982 560.165 183.382 534.165C181.882 545.499 175.082 572.265 159.882 588.665L143.882 619.165L150.382 615.665C148.716 612.499 155.182 600.765 194.382 579.165C173.182 615.165 156.216 620.832 150.382 619.165L135.861 629.165V625.165ZM135.964 421.665C135.774 415.417 135.571 409.076 135.382 404.165C133.549 403.665 129.282 403.165 126.882 403.165C124.482 403.165 125.216 454.832 125.882 480.665C128.049 481.665 132.982 483.565 135.382 483.165C137.222 482.859 135.964 452.165 136.095 426.165M135.964 421.665L150.382 396.665C148.716 392.999 150.982 380.165 173.382 358.165C168.182 384.165 157.216 395.332 152.382 397.665L144.882 411.665L148.882 409.665C152.049 403.999 163.482 390.765 183.882 383.165C165.082 408.365 152.716 412.665 148.882 411.665L143.382 414.165L136.095 426.165M135.964 421.665C136.008 423.145 136.052 424.647 136.095 426.165M135.382 399.165C132.549 399.165 126.682 398.865 125.882 397.665C125.082 396.465 131.167 360.336 131.5 343.003C133.667 342.336 135.6 342.565 138 344.165C139.67 345.279 136.382 381.499 135.382 399.165ZM135.382 490.165C133.216 488.832 128.282 486.365 125.882 487.165C123.482 487.965 124.882 537.499 125.882 562.165C128.549 562.999 134.182 564.165 135.382 562.165C136.582 560.165 135.882 513.332 135.382 490.165ZM135.382 652.165C133.216 651.499 128.282 650.565 125.882 652.165C123.482 653.765 124.882 669.499 125.882 677.165C128.049 677.832 132.982 678.765 135.382 677.165C137.782 675.565 136.382 659.832 135.382 652.165Z' stroke='%23153804'/%3E%3C/svg%3E");
  background-repeat: no-repeat repeat;
  padding: 1rem;

  @include screen-size(large) {
    grid-row: 1/3;
  }

  div.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include screen-size(large) {
      display: block;
      text-align: right;
    }

    div.design-selection#design-selection {
      grid-row: 1/3;
    }

    div {
      @include screen-size(large) {
        margin: 0 0 3rem;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin: .5rem 0;
      font-weight: 600;
    }

    h3, li {
      text-shadow: -1px -1px 0 #acf9a6, 1px -1px 0 #acf9a6, -1px 1px 0 #acf9a6, 0 0 15px black, 0 0 15px black;
    }
    
    a {
      color: rgb(5, 57, 2);
      text-shadow: -1px -1px 0 #6fee66, 1px -1px 0 #6fee66, -1px 1px 0 #6fee66, 0 0 15px black, 0 0 15px black;
    }
    
    a:last-child {
      color: $rich-black;
    }
    
    a:hover {
      display: inline-block;
      transition: .3s ease-in-out;
      text-decoration: underline;
      transform: scale(1.2);
    }
  }
}