@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lora&family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap");
h2 abbr {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: transparent;
  animation: css-heading 5s ease infinite;
}

@keyframes css-heading {
  0% {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='100%25' viewBox='0 0 478 205' xml:space='preserve'%3E%3Cpath /%3E%3C/svg%3E");
  }
  17% {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='100%25' viewBox='0 0 478 205' xml:space='preserve'%3E%3Cpath fill='rgb(0, 26, 35)' opacity='1.000000' stroke='none' d='M13.564201 69.653160 C30.048326 15.002766 93.944893 -13.592488 153.902695 22.466311 C153.523026 17.746937 153.177643 13.453713 152.809189 8.873669 C157.454132 8.873669 161.707901 8.873669 166.316315 8.873669 C166.316315 29.128237 166.316315 49.341099 166.316315 69.798370 C163.490921 69.798370 160.719757 69.798370 157.900375 69.798370 C156.576355 64.380913 155.611069 58.832447 153.862335 53.542984 C144.527176 25.306530 119.465630 14.294226 94.393883 17.724113 C65.266235 21.708862 47.966621 40.237438 39.127800 66.852036 C29.763441 95.049080 30.191931 123.389130 44.547848 150.029251 C58.323914 175.593353 80.000427 189.492722 109.648705 187.697723 C131.786865 186.357407 150.721527 177.425156 164.853653 159.673599 C165.367645 159.027954 165.922302 158.414658 166.700287 157.502106 C168.825287 159.201584 170.872528 160.838867 173.144211 162.655655 C160.173447 180.696457 143.526352 193.150085 121.845543 198.279495 C96.734779 204.220367 72.660645 202.084534 50.315250 188.259827 C28.284014 174.629471 15.385966 154.561829 9.996856 129.557907 C5.665968 109.463837 7.362984 89.582062 13.564201 69.653160 z' /%3E%3C/svg%3E");
  }
  33% {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='100%25' viewBox='0 0 478 205' xml:space='preserve'%3E%3Cpath fill='rgb(0, 26, 35)' opacity='1.000000' stroke='none' d='M13.564201 69.653160 C30.048326 15.002766 93.944893 -13.592488 153.902695 22.466311 C153.523026 17.746937 153.177643 13.453713 152.809189 8.873669 C157.454132 8.873669 161.707901 8.873669 166.316315 8.873669 C166.316315 29.128237 166.316315 49.341099 166.316315 69.798370 C163.490921 69.798370 160.719757 69.798370 157.900375 69.798370 C156.576355 64.380913 155.611069 58.832447 153.862335 53.542984 C144.527176 25.306530 119.465630 14.294226 94.393883 17.724113 C65.266235 21.708862 47.966621 40.237438 39.127800 66.852036 C29.763441 95.049080 30.191931 123.389130 44.547848 150.029251 C58.323914 175.593353 80.000427 189.492722 109.648705 187.697723 C131.786865 186.357407 150.721527 177.425156 164.853653 159.673599 C165.367645 159.027954 165.922302 158.414658 166.700287 157.502106 C168.825287 159.201584 170.872528 160.838867 173.144211 162.655655 C160.173447 180.696457 143.526352 193.150085 121.845543 198.279495 C96.734779 204.220367 72.660645 202.084534 50.315250 188.259827 C28.284014 174.629471 15.385966 154.561829 9.996856 129.557907 C5.665968 109.463837 7.362984 89.582062 13.564201 69.653160 z' /%3E%3Cpath fill='rgb(0, 26, 35)' opacity='1.000000' stroke='none' d='M299.016205 159.789841 C300.403931 146.030090 294.704987 135.661224 284.154480 128.646301 C273.691284 121.689453 262.384918 115.917870 251.133804 110.251015 C238.527618 103.901680 225.433151 98.462692 214.776520 88.860962 C199.429733 75.033333 195.324768 57.835037 201.317047 38.583340 C207.011826 20.287436 220.551971 10.582247 239.234543 7.769003 C258.266449 4.903155 281.470825 7.824920 298.721863 19.751522 C298.721863 16.204237 298.721863 12.861035 298.721863 9.186193 C302.695404 9.186193 306.745148 9.186193 311.075653 9.186193 C311.075653 28.273090 311.075653 47.353939 311.075653 66.746933 C308.299438 66.746933 305.400635 66.746933 302.271637 66.746933 C301.190063 55.017006 297.918701 44.093819 290.989594 34.356281 C278.071899 16.202978 255.202011 13.580585 239.195801 19.682360 C219.844467 27.059340 213.701370 53.006634 227.876389 68.128288 C233.001266 73.595421 239.476883 78.167847 246.078262 81.799606 C258.573059 88.673630 271.650055 94.481819 284.398712 100.904442 C294.853058 106.171227 304.830688 112.271942 312.094818 121.698875 C333.282410 149.194763 319.733063 188.337326 285.310303 197.917191 C260.970001 204.691086 237.299210 202.113098 215.051437 189.508209 C214.216965 189.035416 213.334610 188.647171 212.059143 188.012985 C212.464417 191.890350 212.819687 195.289169 213.201889 198.945816 C208.732895 198.945816 204.625534 198.945816 199.944244 198.945816 C199.415009 180.583954 198.884293 162.170334 198.341339 143.332230 C201.419998 143.332230 204.467987 143.332230 207.966812 143.332230 C208.687424 147.205032 209.202637 151.454910 210.288239 155.553711 C215.171661 173.991653 231.969910 187.769424 251.222473 189.993546 C264.030090 191.473114 276.152374 190.397339 286.884613 182.657028 C294.443146 177.205643 298.613678 169.699188 299.016205 159.789841 z' /%3E%3C/svg%3E");
  }
  50% {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='100%25' viewBox='0 0 478 205' xml:space='preserve'%3E%3Cpath fill='rgb(0, 26, 35)' opacity='1.000000' stroke='none' d='M13.564201 69.653160 C30.048326 15.002766 93.944893 -13.592488 153.902695 22.466311 C153.523026 17.746937 153.177643 13.453713 152.809189 8.873669 C157.454132 8.873669 161.707901 8.873669 166.316315 8.873669 C166.316315 29.128237 166.316315 49.341099 166.316315 69.798370 C163.490921 69.798370 160.719757 69.798370 157.900375 69.798370 C156.576355 64.380913 155.611069 58.832447 153.862335 53.542984 C144.527176 25.306530 119.465630 14.294226 94.393883 17.724113 C65.266235 21.708862 47.966621 40.237438 39.127800 66.852036 C29.763441 95.049080 30.191931 123.389130 44.547848 150.029251 C58.323914 175.593353 80.000427 189.492722 109.648705 187.697723 C131.786865 186.357407 150.721527 177.425156 164.853653 159.673599 C165.367645 159.027954 165.922302 158.414658 166.700287 157.502106 C168.825287 159.201584 170.872528 160.838867 173.144211 162.655655 C160.173447 180.696457 143.526352 193.150085 121.845543 198.279495 C96.734779 204.220367 72.660645 202.084534 50.315250 188.259827 C28.284014 174.629471 15.385966 154.561829 9.996856 129.557907 C5.665968 109.463837 7.362984 89.582062 13.564201 69.653160 z' /%3E%3Cpath fill='rgb(0, 26, 35)' opacity='1.000000' stroke='none' d='M299.016205 159.789841 C300.403931 146.030090 294.704987 135.661224 284.154480 128.646301 C273.691284 121.689453 262.384918 115.917870 251.133804 110.251015 C238.527618 103.901680 225.433151 98.462692 214.776520 88.860962 C199.429733 75.033333 195.324768 57.835037 201.317047 38.583340 C207.011826 20.287436 220.551971 10.582247 239.234543 7.769003 C258.266449 4.903155 281.470825 7.824920 298.721863 19.751522 C298.721863 16.204237 298.721863 12.861035 298.721863 9.186193 C302.695404 9.186193 306.745148 9.186193 311.075653 9.186193 C311.075653 28.273090 311.075653 47.353939 311.075653 66.746933 C308.299438 66.746933 305.400635 66.746933 302.271637 66.746933 C301.190063 55.017006 297.918701 44.093819 290.989594 34.356281 C278.071899 16.202978 255.202011 13.580585 239.195801 19.682360 C219.844467 27.059340 213.701370 53.006634 227.876389 68.128288 C233.001266 73.595421 239.476883 78.167847 246.078262 81.799606 C258.573059 88.673630 271.650055 94.481819 284.398712 100.904442 C294.853058 106.171227 304.830688 112.271942 312.094818 121.698875 C333.282410 149.194763 319.733063 188.337326 285.310303 197.917191 C260.970001 204.691086 237.299210 202.113098 215.051437 189.508209 C214.216965 189.035416 213.334610 188.647171 212.059143 188.012985 C212.464417 191.890350 212.819687 195.289169 213.201889 198.945816 C208.732895 198.945816 204.625534 198.945816 199.944244 198.945816 C199.415009 180.583954 198.884293 162.170334 198.341339 143.332230 C201.419998 143.332230 204.467987 143.332230 207.966812 143.332230 C208.687424 147.205032 209.202637 151.454910 210.288239 155.553711 C215.171661 173.991653 231.969910 187.769424 251.222473 189.993546 C264.030090 191.473114 276.152374 190.397339 286.884613 182.657028 C294.443146 177.205643 298.613678 169.699188 299.016205 159.789841 z' /%3E%3Cpath fill='rgb(0, 26, 35)' opacity='1.000000' stroke='none' d='M365.664917 168.225098 C379.720428 188.803802 409.789581 196.558487 431.648651 185.970459 C453.210083 175.526596 453.158569 147.723068 441.326813 135.028061 C433.406494 126.529793 423.447968 121.324333 413.419373 116.101135 C399.735413 108.974106 385.571594 102.643425 372.431122 94.630547 C357.187958 85.335480 348.619812 71.480568 348.832123 52.858582 C349.091522 30.103430 365.111572 11.106934 387.637726 7.948342 C408.947205 4.960354 429.418488 7.070779 447.897919 19.367935 C448.122162 19.517174 448.499573 19.436213 448.826050 19.464479 C448.826050 16.166986 448.826050 12.889850 448.826050 9.233425 C452.663330 9.233425 456.691345 9.233425 461.039642 9.233425 C461.039642 28.213640 461.039642 47.294273 461.039642 66.716957 C458.352234 66.716957 455.458679 66.716957 452.266113 66.716957 C451.199677 55.084545 447.943237 44.160789 441.028961 34.416691 C428.122162 16.227453 405.307831 13.581120 389.250061 19.656246 C369.880524 26.984303 363.689911 52.961010 377.842468 68.092628 C382.962158 73.566505 389.435547 78.148109 396.037140 81.781746 C408.532898 88.659592 421.611145 94.471741 434.365417 100.889587 C444.825623 106.153114 454.692078 112.339607 462.099030 121.658813 C480.267731 144.518127 475.045197 186.314667 435.306183 197.869415 C411.049133 204.922516 387.300751 202.114624 365.048523 189.506470 C364.214050 189.033646 363.330597 188.647263 362.058502 188.016617 C362.463531 191.891113 362.818848 195.290009 363.201202 198.947540 C358.729218 198.947540 354.621155 198.947540 349.944489 198.947540 C349.415100 180.573090 348.884460 162.155197 348.341888 143.322510 C351.426392 143.322510 354.478180 143.322510 356.844330 143.322510 C359.722107 151.555771 362.583984 159.743622 365.664917 168.225098 z' /%3E%3C/svg%3E");
  }
  67% {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='100%25' viewBox='0 0 478 205' xml:space='preserve'%3E%3Cpath fill='rgb(0, 26, 35)' opacity='1.000000' stroke='none' d='M299.016205 159.789841 C300.403931 146.030090 294.704987 135.661224 284.154480 128.646301 C273.691284 121.689453 262.384918 115.917870 251.133804 110.251015 C238.527618 103.901680 225.433151 98.462692 214.776520 88.860962 C199.429733 75.033333 195.324768 57.835037 201.317047 38.583340 C207.011826 20.287436 220.551971 10.582247 239.234543 7.769003 C258.266449 4.903155 281.470825 7.824920 298.721863 19.751522 C298.721863 16.204237 298.721863 12.861035 298.721863 9.186193 C302.695404 9.186193 306.745148 9.186193 311.075653 9.186193 C311.075653 28.273090 311.075653 47.353939 311.075653 66.746933 C308.299438 66.746933 305.400635 66.746933 302.271637 66.746933 C301.190063 55.017006 297.918701 44.093819 290.989594 34.356281 C278.071899 16.202978 255.202011 13.580585 239.195801 19.682360 C219.844467 27.059340 213.701370 53.006634 227.876389 68.128288 C233.001266 73.595421 239.476883 78.167847 246.078262 81.799606 C258.573059 88.673630 271.650055 94.481819 284.398712 100.904442 C294.853058 106.171227 304.830688 112.271942 312.094818 121.698875 C333.282410 149.194763 319.733063 188.337326 285.310303 197.917191 C260.970001 204.691086 237.299210 202.113098 215.051437 189.508209 C214.216965 189.035416 213.334610 188.647171 212.059143 188.012985 C212.464417 191.890350 212.819687 195.289169 213.201889 198.945816 C208.732895 198.945816 204.625534 198.945816 199.944244 198.945816 C199.415009 180.583954 198.884293 162.170334 198.341339 143.332230 C201.419998 143.332230 204.467987 143.332230 207.966812 143.332230 C208.687424 147.205032 209.202637 151.454910 210.288239 155.553711 C215.171661 173.991653 231.969910 187.769424 251.222473 189.993546 C264.030090 191.473114 276.152374 190.397339 286.884613 182.657028 C294.443146 177.205643 298.613678 169.699188 299.016205 159.789841 z' /%3E%3Cpath fill='rgb(0, 26, 35)' opacity='1.000000' stroke='none' d='M365.664917 168.225098 C379.720428 188.803802 409.789581 196.558487 431.648651 185.970459 C453.210083 175.526596 453.158569 147.723068 441.326813 135.028061 C433.406494 126.529793 423.447968 121.324333 413.419373 116.101135 C399.735413 108.974106 385.571594 102.643425 372.431122 94.630547 C357.187958 85.335480 348.619812 71.480568 348.832123 52.858582 C349.091522 30.103430 365.111572 11.106934 387.637726 7.948342 C408.947205 4.960354 429.418488 7.070779 447.897919 19.367935 C448.122162 19.517174 448.499573 19.436213 448.826050 19.464479 C448.826050 16.166986 448.826050 12.889850 448.826050 9.233425 C452.663330 9.233425 456.691345 9.233425 461.039642 9.233425 C461.039642 28.213640 461.039642 47.294273 461.039642 66.716957 C458.352234 66.716957 455.458679 66.716957 452.266113 66.716957 C451.199677 55.084545 447.943237 44.160789 441.028961 34.416691 C428.122162 16.227453 405.307831 13.581120 389.250061 19.656246 C369.880524 26.984303 363.689911 52.961010 377.842468 68.092628 C382.962158 73.566505 389.435547 78.148109 396.037140 81.781746 C408.532898 88.659592 421.611145 94.471741 434.365417 100.889587 C444.825623 106.153114 454.692078 112.339607 462.099030 121.658813 C480.267731 144.518127 475.045197 186.314667 435.306183 197.869415 C411.049133 204.922516 387.300751 202.114624 365.048523 189.506470 C364.214050 189.033646 363.330597 188.647263 362.058502 188.016617 C362.463531 191.891113 362.818848 195.290009 363.201202 198.947540 C358.729218 198.947540 354.621155 198.947540 349.944489 198.947540 C349.415100 180.573090 348.884460 162.155197 348.341888 143.322510 C351.426392 143.322510 354.478180 143.322510 356.844330 143.322510 C359.722107 151.555771 362.583984 159.743622 365.664917 168.225098 z' /%3E%3C/svg%3E");
  }
  83% {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='100%25' viewBox='0 0 478 205' xml:space='preserve'%3E%3Cpath fill='rgb(0, 26, 35)' opacity='1.000000' stroke='none' d='M365.664917 168.225098 C379.720428 188.803802 409.789581 196.558487 431.648651 185.970459 C453.210083 175.526596 453.158569 147.723068 441.326813 135.028061 C433.406494 126.529793 423.447968 121.324333 413.419373 116.101135 C399.735413 108.974106 385.571594 102.643425 372.431122 94.630547 C357.187958 85.335480 348.619812 71.480568 348.832123 52.858582 C349.091522 30.103430 365.111572 11.106934 387.637726 7.948342 C408.947205 4.960354 429.418488 7.070779 447.897919 19.367935 C448.122162 19.517174 448.499573 19.436213 448.826050 19.464479 C448.826050 16.166986 448.826050 12.889850 448.826050 9.233425 C452.663330 9.233425 456.691345 9.233425 461.039642 9.233425 C461.039642 28.213640 461.039642 47.294273 461.039642 66.716957 C458.352234 66.716957 455.458679 66.716957 452.266113 66.716957 C451.199677 55.084545 447.943237 44.160789 441.028961 34.416691 C428.122162 16.227453 405.307831 13.581120 389.250061 19.656246 C369.880524 26.984303 363.689911 52.961010 377.842468 68.092628 C382.962158 73.566505 389.435547 78.148109 396.037140 81.781746 C408.532898 88.659592 421.611145 94.471741 434.365417 100.889587 C444.825623 106.153114 454.692078 112.339607 462.099030 121.658813 C480.267731 144.518127 475.045197 186.314667 435.306183 197.869415 C411.049133 204.922516 387.300751 202.114624 365.048523 189.506470 C364.214050 189.033646 363.330597 188.647263 362.058502 188.016617 C362.463531 191.891113 362.818848 195.290009 363.201202 198.947540 C358.729218 198.947540 354.621155 198.947540 349.944489 198.947540 C349.415100 180.573090 348.884460 162.155197 348.341888 143.322510 C351.426392 143.322510 354.478180 143.322510 356.844330 143.322510 C359.722107 151.555771 362.583984 159.743622 365.664917 168.225098 z' /%3E%3C/svg%3E");
  }
  100% {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='100%25' viewBox='0 0 478 205' xml:space='preserve'%3E%3Cpath /%3E%3C/svg%3E");
  }
}
h1 {
  font-family: "Lato", sans-serif;
}

h2, body {
  font-family: "Lora", serif;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

p {
  font-family: "Roboto Slab", serif;
}

h3.select,
h3.archives,
div#zen-resources.zen-resources,
div#design-selection.design-selection,
li.next,
li.viewall,
footer, div.summary, h1,
h2 {
  text-align: center;
}

body {
  background-image: url("https://tinyurl.com/mxntn7rp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1vw;
}

body {
  color: rgb(0, 26, 35);
  background-color: rgb(232, 241, 242);
  padding: 10vw;
}

h1 {
  font-size: 10vw;
}

h2 {
  font-size: 5vw;
}

div#zen-summary.summary {
  padding: 5%;
}

div.page-wrapper {
  text-align: justify;
}

div#zen-supporting.main.supporting {
  justify-content: center;
}

div#zen-requirements,
div.page-wrapper,
aside.sidebar,
footer, div.summary,
h1, h2 {
  margin: 0%;
}

nav {
  margin: -4vh;
  margin-top: 2%;
  margin-bottom: 2%;
}

div#zen-summary.summary > p:nth-child(2) {
  font-size: 60%;
}

div#zen-summary.summary > p:nth-child(1) {
  word-wrap: normal;
}

div#zen-preamble.preamble,
div#zen-explanation.explanation {
  background-color: rgb(166, 211, 160);
  padding: 5%;
}

div#zen-preamble.preamble {
  border-bottom: 1px dashed black;
}

div#zen-participation.participation,
div#zen-benefits.benefits {
  background-color: rgb(179, 255, 179);
  padding: 5%;
  text-align: left;
}

div#zen-participation.participation {
  padding-top: 1%;
  margin-top: 3%;
  border-bottom: 1px dashed black;
}

div#zen-participation.participation,
div#zen-requirements.requirements,
div#zen-preamble.preamble {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

div#zen-benefits.benefits, div#zen-explanation.explanation {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

div#zen-requirements.requirements {
  background-color: rgb(122, 158, 126);
  border-bottom: 2%;
  padding-bottom: 3%;
  padding: 5%;
  margin-top: 3%;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 10%;
  background: rgb(179, 239, 178);
}

footer > a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  text-decoration: underline;
  margin-bottom: 5%;
  width: 85%;
}

div#design-selection.design-selection {
  width: 70%;
}

div#design-archives.design-archives,
div#zen-resources.zen-resources,
div#design-selection.design-selection {
  margin: auto;
}

div#zen-resources.zen-resources > ul {
  width: auto;
}

li.next,
li.viewall {
  width: 90%;
}

div#design-selection.design-selection > nav > ul > li:nth-child(even) {
  background-color: aqua;
}

div#design-selection.design-selection > nav > ul > li:nth-child(odd) {
  background-color: rgb(101, 101, 101);
}

a::before {
  content: "\a";
  white-space: pre;
}

/*# sourceMappingURL=style.css.map */
